<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <film_config>
            <general>
                <enable_film>0</enable_film>
                <enable_debug>0</enable_debug>
                <film_genre>Comedy</film_genre>
            </general>
        </film_config>
    </default>
</config>
